<div class="footer-container">
  <div class="footer-content">
    <p>Desenvolvido por Lucas Rodrigues</p>
    <div class="footer-flex-end">
      <p>lukas.rodrigues.dev@gmail.com</p>
      <div class="footer-icons">
        <a href="https://github.com/lukasqw">
          <img src="../../../../../assets/icons/github-brands.svg" alt="">
        </a>
        <a href="https://www.linkedin.com/in/lukas-rodrigues">
          <img src="../../../../../assets/icons/linkedin-in-brands.svg" alt="">
        </a>
      </div>
    </div>
  </div>
</div>
