<div class="card-book-container">
  <app-cover-book
    class="card-book-cover"
    [coverUrl]="book.coverUrl"
    [title]="book.title"
    (click)="openNewBookDialog(book)"
  ></app-cover-book>
  <div class="card-book-title">
    <p>{{book.title}}</p>
    <p>{{book.author}}</p>
  </div>

  <div class="card-book-stars">
    <fa-icon [icon]="faStar"></fa-icon>
    <p>{{book.stars}}</p>
  </div>

  <fa-icon class="card-book-delete" [icon]="faTrash" (click)="bookDelete(book.id)"></fa-icon>
  <fa-icon class="card-book-edit" [icon]="faPen" (click)="openNewBookDialog(book)"></fa-icon>
</div>
